## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

pids
*.pid
logs
*.log

#bundle
main.bundle.js
main.bundle.js.map

.env.development
.env.production

docker-compose.yml

auth-hook.sh
letsencrypt





