/* body {
  background-image: url(images/climbing.jpeg);
  background-size: cover;
} */

body {
  margin: 0;
}

body,
#app {
  height: 100%;
}

html {
  height: 100%;
  overflow: auto;
}

html {
  font-family: "Poppins";
}
