.centerPiece {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.leftSide {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.rightSide {
  flex: 3;
  background-image: url(../../../public/images/climbing.jpeg);
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 130px;
  min-width: 200px;
  color: #a9a9a9;
}

.havAcc {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: #a9a9a9;
}

.loginBtn {
  color: black;
  font-weight: bold;
}

.loginBtn:hover {
  cursor: pointer;
  text-shadow: 1px 1px #a9a9a9;
}
