.header {
  height: 100px;
  padding-left: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1d3e4b;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  cursor: pointer;
}

.headerRight {
  display: flex;
  align-items: center;
}

.greeting {
  font-weight: bold;
  font-size: 20px;
}

.logout {
  font-weight: lighter;
  font-size: 15px;
  width: 70px;
  padding: 0px 10px;
  text-align: center;
  transition: color 0.2s ease;
}

.logout:hover {
  cursor: pointer;
  color: #5bc0eb;
}
