.login-page {
  background-color: #5bc0eb;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 165px;
  min-width: 450px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #a9a9a9;
}

button {
  border-color: #a9a9a9;
  border-radius: 15px;
  background-color: #a9a9a9;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  width: 300px;
  margin: 20px 20px 0px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease 0s;
}

button:hover {
  background-color: #696969;
}

.input {
  height: 60px;
  width: 450px;
  background-color: #ffffff;
  color: #b3d1de;
  font-size: 24px;
  padding-left: 35px;
  border-radius: 5px;
}
