.centerPiece {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  margin-top: 50px;
}

.noteBox {
  width: 500px;
  height: 160px;
  background-color: #eeeeee;
  border: 0px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 200px;
}

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 170px;
}

.saveMsg {
  margin-bottom: 20px;
  font-size: 18px;
  color: #1d3e4b;
}

.radio-group {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 200px;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 200px;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
  color: #1d3e4b;
  margin-bottom: 26px;
}

.button {
  width: 260px;
  height: 60px;
  background-color: #5bc0eb;
  color: #ffffff;
  font-family: "Poppins";
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration-line: none;
  margin: 25px 0px;
  transition: background 0.2s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #3d85a4;
}
