.centerPiece {
  display: flex;
  flex-direction: column;
  color: black;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  width: 450px;
  height: 250px;
  padding: 20px;
  background-color: #dcdcdc;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  width: 470px;
  height: 15px;
  padding: 20px 10px;
  font-size: 20px;
}

.background {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}
