.navBar {
  display: flex;
  border-bottom: 1px;
  border-bottom-color: #cfdee4;
}

.navBtn {
  display: flex;
  flex-direction: row;
  text-decoration-line: none;
  align-items: center;
  color: #1d3e4b;
}
