.navBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0px 20px 0px;
}

.navBtn {
  width: 60px;
  height: 60px;
  padding: 10px 0px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navBtn:hover {
  background-color: #dcdcdc;
  transition: background-color 0.2s ease 0s;
}

.welcome {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 10px 20px;
}

.logoutBtn {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0px 0px 50px 20px;
}

.logoutBtn:hover {
  cursor: pointer;
  text-shadow: 1px 1px #a9a9a9;
}
