.noteBox {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-family: "Roboto", sans-serif;
  border-color: black;
  border-style: dotted;
  border-radius: 8px;
  width: 450px;
  height: 70px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
}

.noteAlign {
  margin: 0px 100px;
}
