.sub-title {
  color: #3d85a4;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 24px;
  border-bottom: 1px solid #b3d1de;
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 260px;
}

.input {
  width: 350px;
  height: 40px;
  color: #1d3e4b;
  font-size: 18px;
  padding-left: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: none;
}

.button {
  width: 230px;
  height: 60px;
  background-color: #5bc0eb;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  transition: background 0.2s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #3d85a4;
}
