.background {
  background-color: #696969;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBox {
  background-color: #f5f5f5;
  min-width: 800px;
  min-height: 550px;
  border-radius: 12px;
  box-shadow: 10px 15px 12px black;
  display: flex;
}
