.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1000px;
  height: 260px;
  margin: 110px 0px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 48px;
  color: #1d3e4b;
}

.description {
  font-weight: lighter;
  font-size: 28px;
  color: #1d3e4b;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 260px;
  height: 60px;
  background-color: #5bc0eb;
  color: #ffffff;
  font-family: "Poppins";
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration-line: none;
}

.login-text {
  font-size: 14px;
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;
  color: #1d3e4b;
}

.login {
  color: #5bc0eb;
  text-decoration: none;
  transition: color 0.2s ease;
}

.login:hover {
  cursor: pointer;
  color: #3d85a4;
}
